<!DOCTYPE html>
<html>

<head>
    <title>Date Night Randomizer</title>
    {% include 'base.html' %}
</head>

<body>

    {% include 'navbar.html' %}

    <div class="container-fluid p-3">

        <form id="preferences-form">

            <h1 class="text-center mb-4">Select Your Preferences</h1>

            <div class="form-group row mt-2 d-flex align-items-center col-12 col-md-6 mx-auto">
                <div class="col-1">
                    <h3>👗</h3>
                </div>
                <label for="formality-preference" class="col-3 col-form-label"><b>Formality?</b></label>
                <div class="col-8">
                    <select class="form-control" id="formality-preference" name="formality-preference">
                        <option value="Casual">Casual</option>
                        <option value="Fancy">Fancy</option>
                    </select>
                </div>
            </div>

            <div class="form-group row mt-2 d-flex align-items-center col-12 col-md-6 mx-auto">
                <div class="col-1">
                    <h3>💰</h3>
                </div>
                <label for="budget-preference" class="col-3 col-form-label"><b>Budget?</b></label>
                <div class="col-8">
                    <select class="form-control" id="budget-preference" name="budget-preference">
                        <option value="Free">Free</option>
                        <option value="$">$</option>
                        <option value="$$">$$</option>
                        <option value="$$$">$$$</option>
                    </select>
                </div>
            </div>

            <div class="form-group row mt-2 d-flex align-items-center col-12 col-md-6 mx-auto">
                <div class="col-1">
                    <h3>🏘</h3>
                </div>
                <label for="location-preference" class="col-3 col-form-label"><b>Place?</b></label>
                <div class="col-8">
                    <select class="form-control" id="location-preference" name="location-preference">
                        <option value="Home">Home</option>
                        <option value="Outdoors">Outdoors</option>
                        <option value="Indoors">Indoors</option>
                    </select>
                </div>
            </div>

            <div class="form-group row mt-2 d-flex align-items-center col-12 col-md-6 mx-auto">
                <div class="col-1">
                    <h3>📍</h3>
                </div>
                <label for="geo-preference" class="col-3 col-form-label"><b>Your Location</b></label>
                <div class="col-8">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Location" id="geo-preference" required readonly>
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button" id="geo-button" style="border-top-left-radius: 0; border-bottom-left-radius: 0;"><i class="bi bi-geo-alt-fill"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row mt-2 d-flex align-items-center col-12 col-md-6 mx-auto">
                <div class="col-1">
                    <h3>🍺</h3>
                </div>
                <label for="alcohol-preference" class="col-3 col-form-label"><b>Alcohol OK?</b></label>
                <div class="col-8">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Yes" id="alcohol-preference"
                            name="alcohol-preference">
                        <label class="form-check-label" for="alcohol-preference">Yes</label>
                    </div>
                </div>
            </div>

            <div class="form-group row mt-2 d-flex align-items-center col-12 col-md-6 mx-auto">
                <div class="col-1">
                    <h3>📞</h3>
                </div>
                <label for="preparation-preference" class="col-3 col-form-label"><b>Planning OK?</b></label>
                <div class="col-8">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Yes" id="preparation-preference"
                            name="preparation-preference">
                        <label class="form-check-label" for="preparation-preference">Yes</label>
                    </div>
                </div>
            </div>

            <div class="form-group row my-3 align-items-center col-12 col-md-6 mx-auto">
                <button class="btn btn-secondary btn-block" id="generate-button" type="submit">Generate
                    Date Night</button>
            </div>

        </form>

        <section id="date-night-result" style="display: none;">
            <div class="form-group row p-3 col-12 col-md-6 mx-auto">
                <div class="card mb-3" style="padding: 0;">
                    <h5 class="card-header d-flex justify-content-between align-items-center">
                        Date Night
                        <button type="button" id="bookmark-button" class="btn btn-sm btn-primary"><i
                                class="bi bi-star-fill"></i></button>
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            <div id="result"></div>
                        </p>
                    </div>
                </div>
            </div>
        </section>

    </div>

</body>

</html>